In [1]:
# importing the required modules
import os
import pandas as pd
import xlwings as xw
import numpy as np
import openpyxl as xl

In [3]:
path_file = r'https://github.com/Aussachaa/SFG/raw/main/Peformance_Data.xlsx'
df = pd.read_excel(path_file, engine="openpyxl", sheet_name='Channel')
df

,AT_FC,Group_Brand,Brand,Channel,ACC_Name,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,2023,HC&HF,CC,DEPART,Cogs,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,2023,HC&HF,CC,DEPART,Discount,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,2023,HC&HF,CC,DEPART,Gross Profit,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,2023,HC&HF,CC,DEPART,Net Sale,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,2023,HC&HF,CC,DEPART,Sale,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2023FC,TM&NT,TM,WHOLESALE,Cogs,0.0,0.0,-104.747368,0.0,0.0,0.0,0.0,-104.747368,0.0,0.0,0.0,0.0
1196,2023FC,TM&NT,TM,WHOLESALE,Discount,0.0,0.0,-167.400000,0.0,0.0,0.0,0.0,-167.400000,0.0,0.0,0.0,0.0
1197,2023FC,TM&NT,TM,WHOLESALE,Gross Profit,0.0,0.0,99.852632,0.0,0.0,0.0,0.0,99.852632,0.0,0.0,0.0,0.0
1198,2023FC,TM&NT,TM,WHOLESALE,Net Sale,0.0,0.0,204.600000,0.0,0.0,0.0,0.0,204.600000,0.0,0.0,0.0,0.0
1199,2023FC,TM&NT,TM,WHOLESALE,Sale,0.0,0.0,372.000000,0.0,0.0,0.0,0.0,372.000000,0.0,0.0,0.0,0.0