In [160]:
# importing the required modules
import os
import pandas as pd
import xlwings as xw
import numpy as np
import openpyxl as xl
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
def format_number(number):
    return f'{number:,.2f}'

In [161]:
path_file = r"C:\Users\aussa\OneDrive\เดสก์ท็อป\RelationDB\DB_AT_FC.xlsx"
print(pd.ExcelFile(path_file).sheet_names)

['DBPer19-23', 'DBMaster_23-24', 'DB AC offline', 'DB AC Online', 'DBMaster_23']

### DB Per 19-23

In [207]:
df1 = pd.read_excel(path_file, engine="openpyxl", sheet_name='DBPer19-23')
df1['AT_FC'] = df1['AT_FC'].astype('str')
df1.rename(columns={'AT_FC': 'Year', 'ACC_Name': 'Acc_Name', 'Group_Brand': 'Group_brand'}, inplace=True)
df1['Group_brand'].replace({'ROX1': 'ROX', 'ROX2': 'ROX'}, inplace=True)
df1['Channel'].replace({'DEPART': 'Depart', 'EVENT': 'Event', 'ONLINE': 'Online', 'SHOP': 'Shop', 'WHOLESALE': 'Wholesales'}, inplace=True)
df1['Off_On'] = df1.apply(lambda d: d['Channel'] if d['Channel'] == 'Online' else 'Offline', axis=1)
display(df1.head())

,Year,Group_brand,Brand,Channel,Acc_Name,JAN,FEB,MAR,APR,MAY,...,SEP,OCT,NOV,DEC,M01-12,Q1,Q2,Q3,Q4,Off_On
0,2023,HC&HF,CC,Depart,Cogs,0.0,0.0,0.0,0.0,0.0,...,-11.034833,-2.758708,-3.448385,-4.310482,-21.552409,0.0,0.0,-11.034833,-10.517576,Offline
1,2023,HC&HF,CC,Depart,Discount,0.0,0.0,0.0,0.0,0.0,...,-14.463856,-3.615964,-4.519955,-5.649944,-28.249718,0.0,0.0,-14.463856,-13.785862,Offline
2,2023,HC&HF,CC,Depart,Gross Profit,0.0,0.0,0.0,0.0,0.0,...,10.638378,2.659594,3.324493,4.155616,20.778082,0.0,0.0,10.638378,10.139704,Offline
3,2023,HC&HF,CC,Depart,Net Sale,0.0,0.0,0.0,0.0,0.0,...,21.673211,5.418303,6.772878,8.466098,42.330490,0.0,0.0,21.673211,20.657279,Offline
4,2023,HC&HF,CC,Depart,Sale,0.0,0.0,0.0,0.0,0.0,...,36.137067,9.034267,11.292833,14.116042,70.580208,0.0,0.0,36.137067,34.443142,Offline

### DB Master 23-24

In [245]:
df2 = pd.read_excel(path_file, engine="openpyxl", sheet_name='DBMaster_23-24')
#df2['AT_FC'] = df2['AT_FC'].astype('str')
df2.rename(columns={'AT_FC': 'Year', 'ACC_Name': 'Acc_Name', 'Group_Brand': 'Group_brand'}, inplace=True)
display(df2.head())

,Brand,Acc_Name,2023 Offline Total,2023 Online Total,Total Yr2023,2024 Offline Total,2024 Online Total,Total Yr2024,Ofline Center,Depart,Shop,Event,Wholesales,Online Center,Online,Brand_Code,Group_brand
0,ER,Sale,2734.852694,6119.738135,8854.590829,16817.468568,41444.855798,58262.324366,0.0,0.0,7987.705807,2661.538462,6168.224299,0.0,41444.855798,3830.0,ROX
1,ER,Discount,1205.319319,2151.990313,3357.309632,5818.643490,14938.347152,20756.990642,0.0,0.0,2111.404093,931.538462,2775.700935,0.0,14938.347152,3830.0,ROX
2,ER,Net Sale,1529.533376,3967.747822,5497.281198,10998.825078,26506.508646,37505.333724,0.0,0.0,5876.301714,1730.000000,3392.523364,0.0,26506.508646,3830.0,ROX
3,ER,Cogs,912.048644,2259.582395,3171.631039,5823.524714,14351.454920,20174.979635,0.0,0.0,2765.969325,921.633059,2135.922330,0.0,14351.454920,3830.0,ROX
4,ER,Gross Profit,617.484732,1708.165427,2325.650159,5175.300364,12155.053726,17330.354089,0.0,0.0,3110.332389,808.366941,1256.601034,0.0,12155.053726,3830.0,ROX

### DB AT Offline

In [164]:
df3 = pd.read_excel(path_file, engine="openpyxl", sheet_name='DB AC offline')
df3.drop(columns='Acc Name.2', inplace=True)
df3.rename(columns={'Acc Name.1': 'Acc_Name', 'Group Brand': 'Group_brand'}, inplace=True)
df3 = df3[~(df3['Channel'].isin(['Off + On', 'Offline']))]
display(df3.head())

,Brand,Group_brand,Channel,Acc_Name,Jan,Feb,Mar,Apr,May,Jun,...,Aug,Sep,Oct,Nov,Dec,YTD,Q1,Q2,Q3,Q4
0,NT,TM&NT,Depart,Gross Profit,356.05472,26.46050,435.54015,751.72623,569.69462,541.20214,...,823.00337,833.982617,757.527417,811.608736,806.530535,7545.252574,818.05537,1862.62299,2488.907527,2375.666687
1,NT,TM&NT,Depart,Net Profit,224.44957,-56.77652,321.27015,649.36881,478.78128,405.53248,...,549.40686,544.871249,495.841333,533.354156,532.884676,5401.258777,488.94320,1533.68257,1816.552842,1562.080165
2,NT,TM&NT,Depart,Net Sale,613.71413,244.13899,740.68059,1249.46192,936.28426,930.53382,...,1264.43526,1376.720800,1246.124210,1325.021807,1303.075519,12642.998267,1598.53371,3116.28000,4053.963020,3874.221537
3,NT,TM&NT,Depart,Sale,941.95324,802.58886,1123.56068,1865.10285,1402.64495,1483.51411,...,1931.11218,2036.251467,1914.392362,2022.111925,1975.966983,19705.891296,2868.10278,4751.26191,6174.055337,5912.471269
4,NT,TM&NT,Depart,Expense,131.60515,83.23702,114.27000,102.35742,90.91334,135.66966,...,273.59651,289.111368,261.686084,278.254580,273.645859,2143.993797,329.11217,328.94042,672.354685,813.586523

### DB Master Channel 23

In [209]:
df4 = pd.read_excel(path_file, engine='openpyxl', sheet_name='DBMaster_23')
df4.rename(columns={'Brand_Code': 'Brand_code', 'Group_Brand': 'Group_brand', 'ACC_Name': 'Acc_Name'}, inplace=True)
df4['Channel'].replace({'SHOP': 'Shop', ' SHOP': 'Shop', 'Depart/A': 'Depart'}, inplace=True)
df4['Off_On'] = df4.apply(lambda d: d['Channel'] if d['Channel'] == 'Online' else 'Offline', axis=1)
display(df4['Channel'].drop_duplicates().tolist())
display(df4.head())

['Depart', 'Shop', 'Event', 'Wholesales', 'Online']

,Brand,2023 Offline\nTotal,2023 Online\nTotal,Total\nYr2023,2024 Offline\nTotal,2024 Online\nTotal,Total\nYr2024,Acc_Name,Channel,Brand_code,Group_brand,Off_On
0,ER,47.027198,0.0,47.027198,0.0,0.0,0.0,Sale,Depart,3830.0,ROX,Offline
1,ER,18.070602,0.0,18.070602,0.0,0.0,0.0,Discount,Depart,3830.0,ROX,Offline
2,ER,28.956597,0.0,28.956597,0.0,0.0,0.0,Net Sale,Depart,3830.0,ROX,Offline
3,ER,16.428793,0.0,16.428793,0.0,0.0,0.0,Cogs,Depart,3830.0,ROX,Offline
4,ER,12.527804,0.0,12.527804,0.0,0.0,0.0,Gross Profit,Depart,3830.0,ROX,Offline

### Analyze DB Per 19-23

In [176]:
# 2023, Net Sale, M01-12, No CL
df1_1 = df1[(df1['Year'] == '2023') & (df1['Acc_Name'].isin(['Net Sale'])) & (df1['Brand'] != 'CL')][df1.columns.values[0: 5].tolist() + ['M01-12']]
df1_1 = df1_1.sort_values(by=['M01-12'], ascending=False)
df1_1

     Year Group_brand Brand    Channel  Acc_Name        M01-12
88   2023       HC&HF    HF     Online  Net Sale  32020.292232
338  2023       TM&NT    TM     Online  Net Sale  30005.799947
313  2023       TM&NT    NT     Online  Net Sale  21048.021143
163  2023         ROX    PS     Online  Net Sale  20237.355946
343  2023       TM&NT    TM       Shop  Net Sale  19868.855669
..    ...         ...   ...        ...       ...           ...
8    2023       HC&HF    CC      Event  Net Sale      0.000000
48   2023       HC&HF    GL  Wholesale  Net Sale      0.000000
33   2023       HC&HF    GL      Event  Net Sale      0.000000
23   2023       HC&HF    CC  Wholesale  Net Sale      0.000000
348  2023       TM&NT    TM  Wholesale  Net Sale      0.000000

[65 rows x 6 columns]

In [167]:
df1_3 = df1[(df1['Year'] == '2023') & (df1['Acc_Name'].isin(['Net Sale']))].drop(columns=['Year', 'Brand', 'Acc_Name', 'Channel']).loc[:, 'Group_brand': 'DEC'].groupby(['Group_brand']).sum().reset_index().melt(id_vars=['Group_brand'], var_name='Month', value_name='Net Sale')
df1_3['Net Sale'] = df1_3['Net Sale'].div(1000).round(2)
df1_3

   Group_brand Month  Net Sale
0        HC&HF   JAN      9.00
1          ROX   JAN     18.83
2        TM&NT   JAN      8.23
3        HC&HF   FEB      6.72
4          ROX   FEB     10.15
5        TM&NT   FEB      6.15
6        HC&HF   MAR      9.33
7          ROX   MAR     14.48
8        TM&NT   MAR     10.21
9        HC&HF   APR      8.51
10         ROX   APR     13.73
11       TM&NT   APR      9.55
12       HC&HF   MAY      9.31
13         ROX   MAY     12.65
14       TM&NT   MAY     10.16
15       HC&HF   JUN      9.42
16         ROX   JUN     11.41
17       TM&NT   JUN      8.91
18       HC&HF   JUL      9.28
19         ROX   JUL     11.84
20       TM&NT   JUL     10.03
21       HC&HF   AUG     10.07
22         ROX   AUG     11.42
23       TM&NT   AUG      9.60
24       HC&HF   SEP     11.24
25         ROX   SEP      9.43
26       TM&NT   SEP     11.00
27       HC&HF   OCT     11.53
28         ROX   OCT     12.08
29       TM&NT   OCT      9.89
30       HC&HF   NOV     11.35
31         ROX   NOV     12.37
32       TM&NT   NOV     10.13
33       HC&HF   DEC     11.84
34         ROX   DEC     12.40
35       TM&NT   DEC     10.16

In [168]:
fig = px.bar(df1_3, x='Month', y='Net Sale', color='Group_brand', text='Net Sale')
fig.show()

In [169]:
df1_4 = df1[(df1['Year'] == '2023') & (df1['Acc_Name'].isin(['Net Sale']))].drop(columns=['Year', 'Brand', 'Acc_Name']).loc[:, 'Group_brand': 'DEC'].groupby(['Group_brand']).sum().T

# Calculate total values and sort the DataFrame
new_col = df1_4.sum().sort_values(ascending=False).index
df1_4 = df1_4[new_col]
#df1_4 = df1_4.div(1000).round(1)
print(df1_4.sum(axis=1).values)
display(df1_4)

[36050.45205    23018.14883    34011.53124    31788.44425
 32119.68935    29741.44459    31155.55083    31095.89467
 31671.30980327 33496.2046415  33855.91279951 34400.92138233]

C:\Users\aussa\AppData\Local\Temp\ipykernel_39040\1504327898.py:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

Group_brand           ROX         HC&HF         TM&NT
JAN          18827.195820   8997.290000   8225.966230
FEB          10146.418050   6724.617340   6147.113440
MAR          14478.531440   9326.262830  10206.736970
APR          13730.810730   8506.336160   9551.297360
MAY          12646.805930   9312.724740  10160.158680
JUN          11411.832030   9417.486880   8912.125680
JUL          11839.869090   9283.721170  10031.960570
AUG          11422.917120  10070.393980   9602.583570
SEP           9428.784228  11239.804289  11002.721286
OCT          12082.049373  11526.807492   9887.347776
NOV          12371.175636  11353.583863  10131.153301
DEC          12402.115177  11842.854722  10155.951483

In [170]:
# Initialize lists of traces
def color_group(x):
    if x == 'TM&NT':
        return '#85C1E9'
    elif x == 'HC&HF':
        return '#A9DFBF'
    else:
        return '#F8C471'
    
columns_lst_g = df1_4.columns.to_list()
color_lst_g = [color_group(x) for x in columns_lst_g]

bar_traces = []
for i, col in enumerate(df1_4.columns):    
    values = df1_4[col].div(1000).round(1)
    percentages = (df1_4[col] / df1_4.sum(axis=1) * 100).round(1)
    name = [df1_4.columns[i]]*len(df1_4.index)
    text_labels = [f"<b>{v1}M<br>{v2:.1f}%</b>" for v1, v2 in zip(values, percentages)]
    colors_cond = list()

    bar_trace = go.Bar(x=df1_4.index, y=df1_4[col],
        text=text_labels,
        hoverinfo='x+y',
        textposition='inside',
        insidetextanchor='middle',
        name=col,
        textangle=0,
        marker=dict(color=color_lst_g[i]))
    bar_traces.append(bar_trace)

values_tot = df1_4.sum(axis=1).values
text_labels_line = df1_4.sum(axis=1).div(1000).round(1).apply(lambda val: f'<b style="color:#884EA0;">{val}M</b>').values
line_trace = go.Scatter(x=df1_4.index, y=values_tot, 
                        mode='lines+markers+text', 
                        line=dict(color='#9B59B6', width=3, dash='dash'), # Customize the line color and width
                        marker=dict(
                            size=10,  # Customize the marker size
                            color='#9B59B6',  # Customize the marker color
                            symbol='square',  # Customize the marker symbol
                            line=dict(width=1, color='#9B59B6')),   # Customize the marker border                         
                        name='Total', 
                        text=text_labels_line, 
                        hoverinfo='x+y', 
                        textposition="top center")   

fig = go.Figure(data = bar_traces + [line_trace])

# Customize the layout, e.g., stack the bars and add a legend
fig.update_layout(barmode='stack', title="Monthly Group Brand Net Sale Yr2023", margin=dict(l=0, r=0, t=50, b=50))  # Adjust the margin to fit the text)
fig.update_traces(textfont=dict(size=14), selector=dict(name='Total'))
#fig.update_layout(legend_title_text='Legend')
fig.show()

### DB Perform 19-23 vs DB Master 23-24

In [246]:
group_brand = ['ROX']
# DB Perform 19-23
# 2023, Net Sale, M01-12, No CL
df1_1 = df1[(df1['Year'] == '2023') & (df1['Acc_Name'].isin(['Net Sale'])) & (df1['Brand'] != 'CL') & (df1['Group_brand'].isin(group_brand))][df1.columns.values[0: 4].tolist() + ['M01-12']]
df1_1 = df1_1.sort_values(by=['M01-12'], ascending=False)

df1_2 = df1_1.groupby(['Brand'])['M01-12'].sum().reset_index()
df1_2.sort_values(by='M01-12', ascending=False, inplace=True)
df1_2['M01-12'] = df1_2['M01-12'].div(1000).round(2)
df1_2

# DB Master 23-24
df2_1 = df2[(df2['Acc_Name'] == 'Net Sale') & (df2['Group_brand'].isin(group_brand))][['Brand', 'Total Yr2023']]
df2_1.sort_values(by='Total Yr2023', ascending=False, inplace=True)
df2_1['Total Yr2023'] = df2_1['Total Yr2023'].div(1000).round(2)

# DB AT Offline
df3_1 = df3[(df3['Acc_Name'] == 'Net Sale') & (df3['Group_brand'].isin(group_brand))][['Brand', 'YTD']
                                             ].groupby('Brand')['YTD'].sum().reset_index()
df3_1.sort_values(by='YTD', ascending=False, inplace=True)
df3_1['YTD'] = df3_1['YTD'].div(1000).round(2)

# Join (VS)
df2_2 = pd.merge(df2_1, df1_2, how='left', on='Brand')
df2_2 = pd.merge(df2_2, df3_1, how='left', on='Brand')

df2_2.set_index('Brand', inplace=True)
df2_2.loc['Grand_Total'] = df2_2.sum(axis=0)
df2_2['Compare1'] = df2_2.apply(lambda d: True if d['Total Yr2023'] == d['M01-12'] else False, axis=1)
df2_2['Compare2'] = df2_2.apply(lambda d: True if d['Total Yr2023'] == d['YTD'] else False, axis=1)
df2_2

             Total Yr2023  M01-12     YTD  Compare1  Compare2
Brand
PS                  46.44   46.44   46.44      True      True
EF                  27.69   27.69   27.69      True      True
SS                  11.73   11.73   11.73      True      True
ET                   6.83   11.03   11.03     False     False
ER                   5.50    5.76    5.76     False     False
PL                   4.61    4.61    4.61      True      True
CS                   1.43    1.43    1.43      True      True
GY                   0.00     NaN     NaN     False     False
Grand_Total        104.23  108.69  108.69     False     False

### DB AT Offline 23 vs DB Master Channel 23 [ Channel ]

In [241]:
group_brand = ['ROX']
# DB Master Channel 23
df4_1 = df4[(df4['Acc_Name'] == 'Net Sale') & (df4['Group_brand'].isin(group_brand))].groupby('Channel')['Total\nYr2023'].sum().reset_index()
df4_1.sort_values(by='Total\nYr2023', ascending=False, inplace=True)

df4_1.set_index('Channel', inplace=True)
df4_1.loc['Grand Total'] = df4_1.sum(axis=0)
df4_1.reset_index(inplace=True)

df4_1['Total\nYr2023'] = df4_1['Total\nYr2023'].div(1000).round(2)

# DB AT Offline 23
df3_2 = df3[(df3['Acc_Name'] == 'Net Sale') & (df3['Group_brand'].isin(group_brand))].groupby('Channel')['YTD'].sum().reset_index()
df3_2.sort_values(by='YTD', ascending=False, inplace=True)
\
df3_2.set_index('Channel', inplace=True)
df3_2.loc['Grand Total'] = df3_2.sum(axis=0)
df3_2.reset_index('Channel', inplace=True)

df3_2['YTD'] = df3_2['YTD'].div(1000).round(2)

# DB Perform 19-23
df1_5 = df1[(df1['Year'] == '2023') & (df1['Acc_Name'].isin(['Net Sale'])) & (df1['Brand'] != 'CL') & (df1['Group_brand'].isin(
    group_brand))].groupby(['Channel'])['M01-12'].sum().reset_index().sort_values(by=['M01-12'], ascending=False).set_index('Channel')

df1_5.loc['Grand Total'] = df1_5.sum(axis=0)
df1_5 = df1_5.div(1000).round(2).reset_index()

# join vs
df3_3 = pd.merge(df3_2, df4_1, how='left', on='Channel')
df3_3 = pd.merge(df3_3, df1_5, how='left', on='Channel')
display(df3_3)

       Channel     YTD  Total\nYr2023  M01-12
0       Online   45.02          44.89   45.02
1         Shop   23.06          18.84   23.06
2   Wholesales   22.04          21.92   22.04
3        Event   10.33          10.34   10.33
4       Depart    8.23           8.23    8.23
5  Grand Total  108.69         104.23  108.69

In [243]:
group_brand = ['ROX']
# DB Perform 19-23
df1_6 = df1[(df1['Year'] == '2023') & (df1['Acc_Name'].isin(['Net Sale'])) & (df1['Brand'] != 'CL') & (df1['Group_brand'].isin(
    group_brand))].groupby(['Off_On'])['M01-12'].sum().reset_index().sort_values(by=['M01-12'], ascending=False).set_index('Off_On')

df1_6.loc['Grand Total'] = df1_6.sum(axis=0)
df1_6 = df1_6.div(1000).round(2).reset_index()

# DB Master Channel 23
df4_2 = df4[(df4['Acc_Name'] == 'Net Sale') & (df4['Group_brand'].isin(group_brand))].groupby('Off_On')['Total\nYr2023'].sum().reset_index().sort_values(by='Total\nYr2023', ascending=False).set_index('Off_On')

df4_2.loc['Grand Total'] = df4_2.sum(axis=0)
df4_2 = df4_2.div(1000).round(2).reset_index()

# Join
df1_6 = pd.merge(df1_6, df4_2, how='left', on='Off_On')

display(df1_6)

        Off_On  M01-12  Total\nYr2023
0      Offline   63.67          59.33
1       Online   45.02          44.89
2  Grand Total  108.69         104.23